<!DOCTYPE html>
<html lang="en" data-th-fragment="layout(activeMenu, content)">
<head>
    <meta charset="UTF-8">
  <title>Skeleton</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" data-th-href="@{app.css}">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>

  <script data-th-if="${toast}" data-th-inline="javascript">
    $(document).ready(function() {
      $.toast({
          title: /*[[${toast.title}]]*/,
          message: /*[[${toast.message}]]*/,
          class: /*[[${toast.clazz}]]*/
      });
    });
  </script>

</head>
<body>
<div class="ui container">
  <div data-th-replace="~{fragments/menu::top_menu(activeMenu)}"></div>
    <div class="" data-th-insert="${content}"></div>
</div>
</body>
</html>